body {
    font-family: "Noto Sans" ,sans-serif;
    background: #868686;
    color: #FFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
img {
    display: block;
}
.container {
    
}

.link {
  text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*? --------------HEADER----------------- */

.header {
    background: rgba(194, 194, 194, 0.74);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.container-header {
    display: flex;
    align-items: center;
    max-width: 428px;
    padding: 55px 22px 15px 22px;
    margin: 0 auto;
}
.header-logo {
}
.container-logo-icon {
}
.logo-icon {
    transition:  fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-item {
    transition:  fill  2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-icon-use {
}

.header-menu-wrap {
    /* display: flex; */
    display: none;
    margin-left: auto;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 60px;
}
.header-item {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    transition:  color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:hover ,
.header-item:focus {
    color: #FFF;
}
.header-laung {
    display: flex;
    gap: 15px;
    margin-right: 30px;
    margin-left: 60px;
}
.header-laung-p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    transition:  color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-laung-p:hover ,
.header-laung-p:focus {
    color:#FFF;
}

.laung-icon {
    transition:  fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.laung-icon:hover ,
.laung-icon:focus {
    fill:#FFF;
}

.header-sing {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid #000;
    min-width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background , box-shadow , border;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-sing:hover ,
.header-sing:focus {
    background: #F9A830;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
.logo-icon:hover ,
.logo-icon:focus {
    fill:#FFF;
    stroke: #FFF;
}
.logo-item:hover ,
.logo-item:focus {
    fill:#FFF;
}
.header-menu-burg {
    stroke: #000;
    margin-left: auto;
}
/*? --------------HERO----------------- */

.header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-image: url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* min-width: 1587px; */
    height: 1024px;
    z-index: -1;
}
@media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .header::before {
        background-image: url(../images/bg-mog-2.jpg);
    }
}
.container-hero {
    max-width: 428px;
    padding-left: 47px;
    padding-right: 46px;
    margin: 0 auto;
}
.section-hero {
    /* padding-top: 220px;
    padding-bottom: 353px; */
    padding-top: 123px;
    padding-bottom: 313px;
}
.hero-title {
    /* font-size: 60px; */
    font-size: 42px;
    font-weight: 700;
    line-height: 140%; /* 84px */
    margin-bottom: 10px;
    /* width: 736px; */
    width: 344px;
    text-align: center;
}
.hero-text {
    color: #000;
    /* font-size: 20px; */
    font-size: 18px;
    font-weight: 500;
    /* font-weight: 400; */
    line-height: normal;
    margin-bottom: 80px;
    width: 344px;
}
.hero-butt {
    /* font-size: 32px; */
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    /* border-radius: 15px; */
    border-radius: 20px;
    background: #F9A830;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    /* width: 360px;
    height: 68px; */
    width: 320px;
    height: 60px;
    border: none;
    color: #FFF;
    font-family: "Noto Sans";
    transition-property: background-color , color , border;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-butt:hover,
.hero-butt:focus {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}


/*? --------------COURSE----------------- */
.section-course {
    background-color: #999;
    /* padding-top: 75px; */
    padding-top: 45px;
    padding-bottom: 111px;
    position: relative;
    /* padding-bottom: 117px; */
}
.container-course {
    max-width: 428px;
    padding-left: 34px;
    padding-right: 33px;
    margin: 0 auto;
}
.course-title {
    /* font-size: 80px; */
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.course-item {
    /* max-width: 660px; */
    max-width: 360px;
}
.course-item-img {
    width: 84px;
    height: 84px;
}
.course-item:nth-child(even) img {
    margin-left: auto;
}
.course-item-text {
    /* font-size: 22px; */
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 33px */
}
.course-img {
    display: none;
    position: absolute;
    bottom: 0;
    right: 60px;
    margin-bottom: 10px;
}

/*? --------------WHY----------------- */
.why {
    position: relative;
    max-width: 427px;
    padding-bottom: 113px;
    padding-top: 45px;
}
.why-icon-ellips {
    position: absolute;
    right: 50%;
    z-index: -1;
    top: 45px;
}
.why-wrap {
    background: rgba(249, 97, 97, 0.70);
    box-shadow: -6px 4px 25px 0px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    padding: 83px 34px 62px 35px;
    width: 394px;
}

.why-wrap-title {
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;

}

.why-wrap-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 120px;
}

.why-wrap-read {
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 115px;
}

.why-icon-wrap {
    width: 73px;
    height: 73px;
    background-color: #F9A830;
    border-radius: 50%;
    position: relative;
}
.why-text-icon-wrap {
    display: flex;
    align-items: center;
}
.why-icon-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
}
.container-hurry {
    margin: 0 auto;
    width: 365px;
    margin-top: 153px;
}
.hurry-title {
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}
.hurry-text {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 345px;
    /* 37.5px */
}
.hurry-text-wrap {
    position: relative;
    margin-bottom: 75px;
}
.hurry-icon {
    position: absolute;
    transform: rotate(280deg);
    right: 40%;
}
.learn-wrap {
    width: 360px;
    border-radius: 30px;
    background: rgba(249, 97, 97, 0.85);
    box-shadow: -9px 8px 25px 0px rgba(0, 0, 0, 0.15);
    margin-top: 196px;
    padding: 51px 20px 39px 20px;
}

.learn-title {
    width: 320px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 140%; 
    margin-bottom: 13px;
}

.learn-text {
    color: #F9A830;
    font-size: 55px;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.learn-text-span {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; 
}
.learn-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 2px;
    background: #FFF;
}
.learn-item:not(:last-child) {
    margin-bottom: 40px;
}

.learn-list {
    margin-top: 27px;
}
.learn-item {
    margin-left: 45px;
    position: relative;
}
.learn-item::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F9A830;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
}

.learn-item-text {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.learn-butt {
    display: block;
    margin: 0 auto;
    margin-top: 47px;
    color: #E86767;
    font-family: inherit;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    width: 170px;
    height: 53px;
    border: none;
    border-radius: 20px;
    background: #FFF;  
}


/*? --------------feadbeck----------------- */

.feadback {
    background: #B4B4B4;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
    padding-top: 26px;
    padding-bottom: 48px;
}
.container-feadback {
    padding-left: 29px;
    padding-right: 29px;
}
.feadback-wrap-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
}
.feadback-title {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}
.feadback-icon-list {
    display: flex;
    gap: 20px;
}
.feadback-icon-item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #F96161;
}
.feadback-icon-item:nth-child(2) {
    background-color: #F96161;
    border: none;
}
.feadback-wrap {
    padding: 38px 30px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    width: 345px;
}
.feadback-wrap-list {
    display: flex;
    gap: 4px;
}
.feadback-wrap-item {
}
.feadback-item-icon {
    width: 15px;
    height: 15px;
}

.feadback-wrap-title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
.feadback-wrap-title-text {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}
.feadback-wrap-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/*? --------------get----------------- */
.get {
    position: relative;
    padding-top: 112px;
    padding-bottom: 196px;
}
.get-wrap-modal {
    margin: 0 auto;
    width: 322px;
}
.get-wrap-text {
    color: #F9A830;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}
.get-wrap-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 130%; /* 65px */
    max-width: 332px;
}
.get-form {
    margin-top: 35px;
}
.get-form-input:not(:last-child) {
    margin-bottom: 34px;
}
.get-form-input::placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}
.get-form-input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15) inset;
}
.get-form-butt {
    color: inherit;
    border-radius: 25px;
    background: #F9A830;
    margin: 0 auto;
    margin-top: 40px;
    font-family: inherit;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.get-wrap-icon {
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;  
    bottom: 10%; 
}

.get-wrap-svg {
    
    position: absolute;
    z-index: -1;
}

/*? --------------footer----------------- */

.footer {
    padding-top: 35px;
    padding-bottom: 39px;
    background: #F96161;
}
.container-footer {
    padding-left: 75px;
    padding-right: 75px;
}
.footer-nav {
    display: flex;
    gap: 50px;
}
.container-about {
}
.about-text {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.about-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about-item {
}
.about-item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.container-for {
}
.container-for-text {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.container-for-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container-for-item {
}
.for-item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.footer-adress {
    margin-top: 25px;
    margin-bottom: 40px;
}
.footer-adress-text {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-adress-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-adress-item {
}
.footer-adress-item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.footer-adress-icon-list {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}
.footer-adress-icon-item {
}
.footer-adress-icon-item-link {
}
.footer-logo {
}
.footer-logo-icon {
    fill: #FFF;
}
.footer-logo-item {
    fill: #FFFFFF;
}
.logo-icon-use {
}